<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
  <title>Covid Trends</title>

  <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
  <meta content="utf-8" http-equiv="encoding">
  <script src="libraries/plotly.min.js"></script>
  <script src="libraries/vue.min.js"></script>
  <link rel="stylesheet" type="text/css" href="normalize.css">
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="icon" href="favicon.ico" type="image/x-icon">

</head>
<body>

  <div id="root">

    <div id="header">

        <div id="logowrapper">

          <h1>Project Control - Covid Trends</h1>

        </div>

    </div>

    <div id="content">

      <div id="left-column">

        <p>
          Dit is een interactieve grafiek/animatie die het traject van de COVID-19 gevallen in de verschillende landen in kaart brengt.
          De grafiek plot het aantal nieuw bevestigde gevallen in de voorbije week, tegenover het totaal aantal bevestigde gevallen.
          Wanneer men de gegevens op deze manier gaat plotten, wordt exponentiële groei voorgesteld als een rechte stijgende lijn.

          Op deze manier is het mogelijk om een goed beeld te krijgen van de performantie van elk land zodat duidelijk wordt hoe goed elk land het gedaan heeft tot nu toe.

        </p>

        <graph v-if="covidData.length > 0" :data="filteredCovidData" :dates="dates" :day.sync="day" :selected-data="selectedData" :selected-region="selectedRegion" :scale="selectedScale" :resize="isHidden" @graph-mounted="graphMounted = true"></graph>
        <br>
        <div v-if="covidData.length > 0" id="nav">

          <div class="navelement">
            <img v-if="paused" @click="play" src="icons/play.svg" style="width: 3rem;">
            <img v-if="!paused" @click="play" src="icons/pause.svg" style="width: 3rem;">
          </div>

          <div class="navelement">
            <!--
            <h2>{{ formatDate(minDay > 0 ? dates[day - 1] : dates[dates.length - 1]) }}</h2>
            -->
            <h2>{{ minDay > 0 ? dates[day - 1] : dates[dates.length - 1] }}</h2>
          </div>

          <div class="navelement" id="slidercontainer">
            <input v-if="dates.length > 7" type="range" :min="minDay > 0 ? minDay : dates.length" :max="dates.length" step="1" v-model="day" id="slider" @mousedown="pause"></input>
          </div>


        </div>

        <div v-if="!firstLoad && covidData.length == 0" id="nodata"><span>Not enough data for these parameters.</span></div>

        <div id="footer">
          Gemaakt door <a href="https://aatishb.com/">Aatish Bhatia</a> en aangepast door <a href="https://wouterstemgee.be/">Wouter Stemgée</a> voor het opleidingsonderdeel <a href="https://www.projectmanagement.ugent.be/">Project Management</a> aan de <a href="https://www.ugent.be/">Universiteit Gent</a> &middot; Data publiek beschikbaar gemaakt door de <a href="https://github.com/CSSEGISandData/COVID-19">Johns Hopkins University</a>
        </div>

      </div>

      <div id="right-column">

        <div>
          <h2>Gegevens</h2>

          <select v-model="selectedData" @mousedown="pause">
            <option v-for="d in dataTypes" v-bind:value="d">
              {{ d }}
            </option>
          </select>

        </div>

        <div id="countries">

          <h2>Landen</h2>

          <ul style="padding-top: 0.5rem;">
            <li v-for="country in visibleCountries">
              <input type="checkbox" :id="country" :value="country" v-model="selectedCountries">
              <label :for="country">{{country}}</label>
            </li>
          </ul>

        </div>

      </div>

    </div>

  </div>

  <!-- page code -->
  <script src="vue-definitions.js"></script>

</body>

</html>
