<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
  <title>Covid Trends</title>

  <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
  <meta content="utf-8" http-equiv="encoding">
  <script src="libraries/plotly.min.js"></script>
  <script src="libraries/vue.min.js"></script>
  <link rel="stylesheet" type="text/css" href="normalize.css">
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="icon" href="favicon.ico" type="image/x-icon">

</head>
<body>

  <div id="root">

    <div id="header">

        <div id="logowrapper">

          <h1>Project Management - Covid Trends</h1>

        </div>

    </div>

    <div id="content">

      <div id="left-column">

        <graph v-if="covidData.length > 0" :data="filteredCovidData" :dates="dates" :day.sync="day" :selected-data="selectedData" :selected-region="selectedRegion" :scale="selectedScale" :resize="isHidden" @graph-mounted="graphMounted = true"></graph>

        <div v-if="covidData.length > 0" id="nav">

          <div class="navelement">
            <img v-if="paused" @click="play" src="icons/play.svg" style="width: 3rem;">
            <img v-if="!paused" @click="play" src="icons/pause.svg" style="width: 3rem;">
          </div>

          <div class="navelement">
            <!--
            <h2>{{ formatDate(minDay > 0 ? dates[day - 1] : dates[dates.length - 1]) }}</h2>
            -->
            <h2>{{ minDay > 0 ? dates[day - 1] : dates[dates.length - 1] }}</h2>
          </div>

          <div class="navelement" id="slidercontainer">
            <input v-if="dates.length > 7" type="range" :min="minDay > 0 ? minDay : dates.length" :max="dates.length" step="1" v-model="day" id="slider" @mousedown="pause"></input>
          </div>

          <div class="navelement">
            <select v-model="selectedScale" @mousedown="pause">
              <option v-for="s in scale" v-bind:value="s">
                {{ s }}
              </option>
            </select>
          </div>

        </div>

        <div v-if="!firstLoad && covidData.length == 0" id="nodata"><span>Not enough data for these parameters.</span></div>

        <div id="footer">
          Gemaakt door <a href="https://aatishb.com/">Aatish Bhatia</a> en aangepast door <a href="https://wouterstemgee.be/">Wouter Stemgée</a> voor het opleidingsonderdeel <a href="https://www.projectmanagement.ugent.be/">Project Management</a> aan de <a href="https://www.ugent.be/">Universiteit Gent</a> &middot; Data publiek beschikbaar gemaakt door de <a href="https://github.com/CSSEGISandData/COVID-19">Johns Hopkins University</a>
        </div>

      </div>

      <div id="right-column">

        <div>
          <h2>Customize</h2>

          <select v-model="selectedData" @mousedown="pause">
            <option v-for="d in dataTypes" v-bind:value="d">
              {{ d }}
            </option>
          </select>

          <select v-model="selectedRegion" @mousedown="pause">
            <option v-for="s in regions" v-bind:value="s">
              {{ s }}
            </option>
          </select>

          <select v-model="selectedScale" @mousedown="pause">
            <option v-for="s in scale" v-bind:value="s">
              {{ s }}
            </option>
          </select>

        </div>

        <div id="countries">

          <h2>{{regionType}}</h2>

          <p>{{regionType}} with at least {{minCasesInCountry}} {{selectedData}}</p>

          <div id="search">
            <input v-model="searchField" placeholder="Search"></input>
          </div>

          <div id="buttonwrapper">
            <button @click="deselectAll">Deselect All</button>
            <button @click="selectAll">Select All</button>
          </div>

          <ul style="padding-top: 0.5rem;">
            <li v-for="country in visibleCountries">
              <input type="checkbox" :id="country" :value="country" v-model="selectedCountries">
              <label :for="country">{{country}}</label>
            </li>
          </ul>

        </div>

        <div>

          <div id="buttonwrapper">
            <button @click="createURL" @mousedown="pause">{{copied ? 'Link Copied to Clipboard!' : 'Create Shareable Link'}}</button>
          </div>

        </div>

      </div>

    </div>

  </div>

  <!-- page code -->
  <script src="vue-definitions.js"></script>

</body>


<!-- Open Graph data -->
<meta property="og:title" content="Covid Trends" />
<meta property="og:type" content="article" />
<meta property="og:url" content="https://aatishb.com/covidtrends/" />
<meta property="og:image" content="https://aatishb.com/covidtrends/logos/covid-trends-logo-nowords.png" />
<meta property="og:description" content="Visualizing the exponential growth of COVID-19 across the world." />


</html>
